footer{
    background-color: #EAECEE;
}

.jumbotron{
    margin-top: 50px;
}

.card-propiedades{
    flex: 1 150px;
}

.img-banner{
    padding-bottom: 30px;
    width: 100%;
    height: 500;
}

.img-banner2{
    padding-top: 80px;
    padding-bottom: 25px;
}

.icon-home{
    padding-right: 6px;
}

.icon-servicio{
    padding-right: 8px;
}

.icon-footer{
    padding-right: 4px;
}

.card-img-venta{
    padding-top: 5px;
    padding-bottom: 10px;
}

.table-responsive{
    padding-top: 50px;
}

.header{
    width: 100%;
}

.table-responsive{
    padding-top: 0px;
}

.card-content{
    padding-bottom: 30px;
}

.footer-section{
    padding: 50px;
    background-color: #2C3E50;
    color: rgb(15, 5, 5);
}

.footer-end{
    padding-top: 50px;
}

.newsslleter-laber{
    color: white;
}

.btn-outline-secondary{
    margin-left: 10px;
    margin-bottom: 10px;
}

#myTabContent{
    padding-bottom: 30px;
}

.formabout{
    padding-bottom: 30px;
}

#accordion{
    padding-bottom: 30px;
}