$yellow: #ecf02b;
$red: #e30505;
$green: #1cad09 ;
$black: #010408;
$white: #ffffff;
$grey: #404147;

@mixin margenes ($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
@mixin padding ($p-top, $p-bottom) {
    padding-top: $p-top;
    padding-bottom: $p-bottom;
}

footer{
    background-color: $grey;
    color: $white;
}

.jumbotron{
    @include margenes(50px, 0px);
    background-color: $white;
}

.card-propiedades{
    flex: 1 150px;
}

.img-banner{
    @include padding(30px, 30px);
    width: 100%;
    height: 500;
}

.img-banner2{
    @include padding(80px, 25px)
}

.icon-home{
    padding-right: 6px;
}

.icon-servicio{
    padding-right: 8px;
}

.icon-footer{
    padding-right: 4px;
}

.card-img-venta{
    @include padding(5px, 10px);
}

.table-responsive{
    padding-top: 50px;
}

.header{
    width: 100%;
}

.table-responsive{
    padding-top: 0px;
}

.card-content{
    padding-bottom: 30px;
}

.footer-section{
    padding: 50px;
    background-color: $grey;
    color: $white;
}

.footer-end{
    padding-top: 50px;

}

.newsslleter-laber{
    color: $white;
}

.btn-outline-secondary{
    margin-left: 10px;
    margin-bottom: 10px;
}

#myTabContent{
    padding-bottom: 30px;
}

.formabout{
    padding-bottom: 30px;
}

#accordion{
    padding-bottom: 30px;
}

hr {
    background-color: $white;
  }
  
.link {
    color: $white;
}

.moda-body{
    color: $black
  }

.thead-color{
    background-color: $grey;
    color: $white;
  }

.navbar-color{
    background-color: $grey;
}