footer {
  background-color: #404147;
  color: #ffffff; }

.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #ffffff; }

.card-propiedades {
  flex: 1 150px; }

.img-banner {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: 500; }

.img-banner2 {
  padding-top: 80px;
  padding-bottom: 25px; }

.icon-home {
  padding-right: 6px; }

.icon-servicio {
  padding-right: 8px; }

.icon-footer {
  padding-right: 4px; }

.card-img-venta {
  padding-top: 5px;
  padding-bottom: 10px; }

.table-responsive {
  padding-top: 50px; }

.header {
  width: 100%; }

.table-responsive {
  padding-top: 0px; }

.card-content {
  padding-bottom: 30px; }

.footer-section {
  padding: 50px;
  background-color: #404147;
  color: #ffffff; }

.footer-end {
  padding-top: 50px; }

.newsslleter-laber {
  color: #ffffff; }

.btn-outline-secondary {
  margin-left: 10px;
  margin-bottom: 10px; }

#myTabContent {
  padding-bottom: 30px; }

.formabout {
  padding-bottom: 30px; }

#accordion {
  padding-bottom: 30px; }

hr {
  background-color: #ffffff; }

.link {
  color: #ffffff; }

#modal-color {
  color: #010408; }

.thead-color{
  background-color: #404147;
  color: #ffffff;
}